<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Aplicación Completa MySQL</h1>
            <h3 class="mb-5">
                <em>Almacene los enlaces de su sitio web favorito asi como su lista de contactos.</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empiece
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>